<div
  *ngIf="toasts.length"
  class="fixed left-4 right-4 top-6 z-10 flex flex-col gap-2.5"
>
  <ng-container *ngFor="let toast of toasts">
    <div
      @flyInOut
      class="max-w-xs rounded p-4 opacity-95"
      [ngClass]="{
        'bg-teal-700': toast.type === 'info',
        'bg-red-700': toast.type === 'error',
      }"
    >
      <div class="flex">
        <ng-container *ngIf="toast.type === 'info'; else showErrorIcon">
          <svg
            class="mr-2 h-6 w-auto fill-white"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
            />
          </svg>
        </ng-container>

        <ng-template #showErrorIcon>
          <svg
            class="mr-2 h-6 w-auto fill-white"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
            />
          </svg>
        </ng-template>

        <p class="text-gray-100">{{ toast.message }}</p>
      </div>
    </div>
  </ng-container>
</div>
