<div class="flex h-screen w-screen flex-col bg-slate-800 text-gray-200">
  <app-navbar
    [darkMode]="isDarkMode"
    [showingKeycodeTable]="isShowingKeycodeTable"
    (toggleDarkMode)="toggleDarkMode()"
    (toggleShowKeycodeTable)="toggleShowKeycodeTable()"
  />

  <main class="flex h-full items-center justify-center">
    <ng-container *ngIf="allKeyCodes.length; else showWaitingKeyEventTemplate">
      <div class="flex flex-col">
        <h1 class="text-6xl font-medium capitalize">
          {{ allKeyCodes[allKeyCodes.length - 1].code }}
        </h1>

        <!-- <div class="mt-12 flex justify-evenly">
          <app-event-card
            header="header"
            body="body"
            documentationLink="documentationLink"
          />
          <app-event-card
            header="header"
            body="body"
            documentationLink="documentationLink"
          />
          <app-event-card
            header="header"
            body="body"
            documentationLink="documentationLink"
          />
        </div> -->
      </div>
    </ng-container>

    <ng-template #showWaitingKeyEventTemplate>
      <h1 class="text-2xl">
        Press any key to get the <br />
        JavaScript event keycode
      </h1>
    </ng-template>
  </main>
</div>
