<div
  class="flex h-screen w-screen flex-col bg-gray-100 text-slate-900 dark:bg-slate-950 dark:text-gray-100"
  [ngClass]="{ dark: isDarkMode }"
>
  <app-toaster />

  <app-navbar
    [darkMode]="isDarkMode"
    [showingKeycodeTable]="isShowingKeycodeTable"
    (toggleDarkMode)="toggleDarkMode()"
    (toggleShowKeycodeTable)="toggleShowKeycodeTable()"
  />

  <main class="flex h-full items-center justify-center">
    <ng-container *ngIf="allKeyCodes.length; else showWaitingKeyEventTemplate">
      @let keycode = allKeyCodes[allKeyCodes.length - 1];

      <div class="flex w-full max-w-6xl flex-col px-4">
        <h1 class="mx-auto text-8xl font-medium">
          {{ keycode.keyCode }}
        </h1>

        <div class="mt-14 flex flex-col justify-evenly gap-8 md:flex-row">
          <app-event-card
            class="w-full"
            header="Key"
            [body]="keycode.key"
            documentationLink="https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key"
            (click)="copyToClipboard(keycode.key)"
          />
          <app-event-card
            class="w-full"
            header="Location"
            [body]="keycode.location"
            documentationLink="https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/location"
            (click)="copyToClipboard(keycode.location)"
          />
          <app-event-card
            class="w-full"
            header="Code"
            [body]="keycode.code"
            documentationLink="https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code"
            (click)="copyToClipboard(keycode.code)"
          />
        </div>
      </div>
    </ng-container>

    <ng-template #showWaitingKeyEventTemplate>
      <h1 class="text-center text-3xl">
        Press any key to get the <br />
        JavaScript event keycode
      </h1>
    </ng-template>

    <app-keycode-table
      [show]="isShowingKeycodeTable"
      (close)="toggleShowKeycodeTable()"
    />
  </main>
</div>
